* {
    box-sizing: border-box;
}
.container {
    background-color: thistle;
    width: 850px;
    height: 400px;
    margin: auto;
}
.interior{
    width: 850px;
    height: 400px;
     position: relative;
     
}

    
.div2 {
    background-color: #f7d1ba;
    width: 200px;
    height: 200px;
    left: 50px;
    top: 250px;
    border: solid
}
p {
    text-align: center;
    
}
.button {
    position: relative;
    left: 650px;
    top: 110px;
}
.link {
    position: relative;
    right: 400px;

}
div {
    background-color:#e3dfc8;
    height: 80px;
    width: 250px;
 }
